

<body>

 <div id='db_list'>      </div>
    <div id='table_list'>    </div>
      <div id='attribute_list'>  </div>

  <button id="csv" button class = "btn" type="button">CSV Button</button>
  <button id="tsv" button class = "btn" type="button">TSV Button</button>



</body>